<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">
    
	<http auto-config="true"> 
		<anonymous enabled="false" /> 

        <form-login 
            	login-page="/login.xhtml" 
            	always-use-default-target="true" 
            	default-target-url="/home.xhtml" 
            	authentication-failure-url="/login.xhtml" />
        
        <access-denied-handler error-page="/semPermissao.xhtml" />

        <intercept-url pattern="/home.xhtml" access="ROLE_USER" />
        <intercept-url pattern="/paginas/**" access="ROLE_USER" />

    </http>
    
    <!-- DESENVOLVIMENTO --> 
	<authentication-manager alias="authenticationManager" >
        <authentication-provider user-service-ref="userDetailsService" >
        	<password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager> 
	
    
    <!-- PRODUCAO -->
    <!-- 
    <beans:bean id="ldapActiveDirectoryAuthProvider" 
            class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
        <beans:constructor-arg value="tce.ce.gov.br" />
        <beans:constructor-arg value="ldap://172.26.18.25:389/"/> 
        <beans:property name="userDetailsContextMapper" ref="customUserDetailsMapper"/>
        <beans:property name="useAuthenticationRequestCredentials" value="true"/>   
        <beans:property name="convertSubErrorCodesToExceptions" value="true" />
    </beans:bean>
	
	<authentication-manager alias="authenticationManager">
	    <authentication-provider ref="ldapActiveDirectoryAuthProvider" />
	</authentication-manager>
 	-->
</beans:beans>
