* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	/* color: #505050; */
}

select,option,input,textarea {
	outline: none;
}

/* INICIO CLASSES UTEIS */
.fl {
	float: left;
}

.fr {
	float: right;
}

.dn {
	display: none;
}

.dv {
	display: visible;
}

.clr {
	clear: both;
}

.negrito
{
	font-weight: bold;	
}


.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.centered {
	margin-right: 50%;
}

/* INICIO MARGENS UTEIS */
.mg-left-10 {
	margin-left: 10px !important;
}


.mg-left-10 {
	margin-left: 10px !important;
}

.mg-left-15 {
	margin-left: 15px !important;
}

.mg-left-18 {
	margin-left: 18px !important;
}

.mg-left-20 {
	margin-left: 20px !important;
}

.mg-left-22 {
	margin-left: 22px !important;
}

.mg-left-30 {
	margin-left: 30px !important;
}

.mg-left-50 {
	margin-left: 50px !important;
}

.mg-top-8 {
	margin-top: 8px !important;
}

.mg-top-10 {
	margin-top: 10px !important;
}
.mg-top-13 {
	margin-top: 13px !important;
}

.mg-top-15 {
	margin-top: 15px !important;
}

.mg-top-16 {
	margin-top: 16px !important;
}

.mg-top-17 {
	margin-top: 17px !important;
}

.mg-top-18 {
	margin-top: 18px !important;
}

.mg-top-20 {
	margin-top: 20px !important;
}

.mg-top-25 {
	margin-top: 25px !important;
}

.mg-top-40 {
	margin-top: 40px !important;
}

.mg-right-5 {
	margin-right: 5px !important;
}

.mg-right-10 {
	margin-right: 10px !important;
}

.mg-right-15 {
	margin-right: 15px !important;
}

.mg-right-20 {
	margin-right: 20px !important;
}

.mg-bottom-5 {
	margin-bottom: 5px !important;
}

.mg-bottom-10 {
	margin-bottom: 10px !important;
}

.mg-bottom-15 {
	margin-bottom: 15px !important;
}

.mg-zero {
	margin: 0 !important;
}

.40-percent {
     width: 40%;
}

.50-percent {
     width: 50%;
}

.60-percent {
     width: 60%;
}

.100-percent {
     width: 100%;
}

.top-alignment {
     vertical-align: top;
}

.processoCadastroRadio,
.interessadoCadastroRadio {
	margin-top: 10px;
	display: inline-table;
}

.processoCadastroRadio label,
.interessadoCadastroRadio label {
	font-size: 20px !important;
}

.ui-selectlistbox-item.ui-corner-all.ui-state-highlight {
    /*background: #4C91B2;*/
    background: #002D49;
    color: #fff;
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.ui-state-disabled.titulo-campo-fullscreen.ui-inputtextarea-resizable {
    color: #000;
}


.table-default.ui-tree {
    width: 100%;
    position: relative;
    text-align: left;
    border: 0px;
    background-color: transparent;
}

/* FIM MARGENS UTEIS */

#btnFullScreen{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#btnFullScreenRestore{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* FIM CLASSES UTEIS */
html {
	background: #fff 0 0 repeat-x;
	height: 100%;
}

body {
	background: url(../resources/img/textura.png) 0 0 repeat;
	height: 100%;
}

.body-geral {
	background: #fff 0 0 repeat-x;
	height: 100%;
	/*min-height: 800px;*/
}

.geral {
	min-height: 90%;
	overflow: auto;
	position: relative;
	/*padding: 0 10px;*/
}

.menucorpo{
	min-height: 100%;	
}


.login-geral {
	min-height: 100%;
	overflow: auto;
	position: relative;
	/*padding: 0 10px;*/
	background-color: #002D49;
}

.conteiner-geral {
	/* max-width: 1205px; */
	min-width: 768px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 0 0 0;
	min-height: 100%
	/* overflow: auto; */
}

/* INICIO RODAPE */
.rodape {
	width: 100%;
	height: 10%;
	overflow: hidden;
	margin-top: 0px;
	background-color: #002D49;
}

.rodape-fullscreen {
	width: 100%;
	height: 10%;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #002D49;
}

.rodape-box {
	/* max-width: 1205px; */ 
	min-width: 768px;
	/* background-color: #fff; */ 
	/* border: 1px solid #b5b5b5; */
	/* border-radius: 4px; */
	/* height: 90px; */ 
	/* padding: 10px 0px; */
	
	width: 900px;
	float: none;
	padding-top: 25px;
	text-align: center;
}

.rodape-fullscreen-box{
	min-width: 900px;
	float: none;
	padding-top: 2%;
	text-align: center;	
}

.rodape-texto {
	text-align: center;	
	text-transform: uppercase;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 89%;
	color: #BCBCBC;
}

.rodape-endereco{
	/* color: #1C5BA7; */
	/* display: block; */
	/* font-size: 10px; */
	/* font-weight: bold; */
	text-align: center;
	/*border-top: 1px solid #4C91B2;*/
	color: #808080;
	margin: 1.2em 0 0;
	text-transform: uppercase;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 89%;
}

/* FIM RODAPE */

/* INICIO LOGIN BOX */
.login-conteiner {
	width: 100%;
	padding-top: 70px;
}

.login-topo {
	width: 595px;
	margin: 0 auto;
}

.login-corpo {
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background-color: #fff;
	width: 581px;
	margin: 0 auto;
	padding: 15px;
	min-height: 100px;
}

.login-corpo form {
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	padding: 20px;
	overflow: auto;
	background: url(../resources/img/bg-login.png) 0 bottom repeat-x;
}

.login-corpo label {
	font-size: 12px;
	color: #505050;
	margin-bottom: 3px;
	display: block;
	font-weight: normal;
}

.login-corpo .input-text {
	border: 1px solid #c5c5c5;
	color: #343434;
	width: 200px;
	padding: 8px 6px;
	margin: 0 10px 5px 0;
	font-size: 11px;
	/*font-style: italic;*/
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
}

.login-corpo .box-inputs {
	width: 338px;
	min-height: 10px;
	margin: 0 auto;
}

.ui-state-disabled {
	opacity: .55;
}

/* FIM LOGIN BOX */

/* INICIO TOPO */
.topo{
	margin-bottom: 3px;
	/*border: 1px solid #b5b5b5;*/
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-top: 0px;
	height: 100px;
	position: relative;
	overflow: hidden;
	/* background: #002D49 url(../resources/img/bg-topo.png) left 0 no-repeat; */ 
	background: #fdfdfd url('../resources/img/bg-topo.png') left 0 no-repeat;
}

.topo-fullscreen{
	margin-bottom: 3px;
	/*border: 1px solid #b5b5b5;*/
	padding: 1px;
	height: 2px;
	position: relative;
	overflow: hidden;
	background: #002D49 url(../resources/img/bg-topo.png) left 0 no-repeat;
}

.login-topo {
	margin-bottom: 3px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	padding: 8px;
	height: 117px;
	position: relative;
	overflow: hidden;
	background: #fff url(../resources/img/bg-topo.png) left 0 no-repeat;
}

.topo h1,.login-topo h1 {
	width: 368px;
	height: 121px;
	overflow: hidden;
}

.topo h1 a,.login-topo h1 a,.topo h1 label {
	width: 368px;
	height: 121px;
	display: block;
	/* background: url(../resources/img/logo_sistema.png) 0 0 no-repeat; Inserir a logo do sistema aqui */
	text-indent: -9000px;
}

.logo-tce-blue-fullscreen {
	width: 148px;
	height: 48px;
	overflow: hidden;
	background: url(../resources/img/logo-tce.png) 0 0 no-repeat;
	text-indent: -9000px;
	position: absolute;
	right: 29px;
	top: 20px;
}
.topo .logo-tce {
	width: 148px;
	height: 48px;
	overflow: hidden;
	background: url(../resources/img/logo-tce.png) 0 0 no-repeat;
	text-indent: -9000px;
	position: absolute;
	right: 29px;
	top: 20px;
}
.login-topo .logo-tce {
	width:148px; 
	height:47px;
	overflow: hidden;
	background: url(../resources/img/logo-tce.png) 0 0 no-repeat;
	text-indent: -9000px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.topo .login-box {
	position: absolute;
	border: 1px solid #bdbdbd;
	background-color: #e6e6e6;
	right: 13px;
	bottom: 30px;
	padding: 8px;
	border-radius: 8px;
	overflow: auto;
	max-wid\th: 220px;
}

.topo .login-box p {
	float: left;
}

.topo .login-box p,.topo .login-box span {
	font-size: 12px;
	color: #1c5ba7;
}

.topo .login-box a {
	float: right;
	color: #505050;
	margin-left: 50px;
	display: block;
	padding-right: 15px;
	background: url(../resources/img/ico-logout.png) right 3px no-repeat;
	text-decoration: none;
}

/* FIM TOPO */


/* INICIO MENU PRINCIPAL */
.menu-principal {
	padding: 0 10px;
	margin: 10px 0px;
	/* width: 100%;
    height: 50px;
    position: absolute;
    top: 125px;
    z-index: 100; */
}

.ui-menubar,.ui-menu-child,.ui-menu {
    background: #F6F6F6 !important;
    color: #333;
}

/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #E6E6E6 !important;
    color: #333;
}
*/
.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
    padding: 5px 5px;
}

.ui-menu.ui-widget li.ui-corner-all, .ui-menu.ui-widget a.ui-corner-all{
	border-radius: 4px;
	margin-right: 1px;
	margin-left: 1px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 1px;
}

.ui-menu.ui-widget a {
	    white-space: normaL;

	}

.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text{
	font-family: 'Open Sans',sans-serif;	
	font-size: 13px;
}

.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
	width: 300px;	
}

.ui-menubutton .ui-state-default .ui-icon {
    background: green; /** insert your background image **/
 	background: url(../resources/img/ico-user20.png) left 0 no-repeat;
    -moz-border-radius: 8px; 
 	border-radius: 8px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 0.3em 1em 0.3em 2.1em;
    background: url(../resources/img/ico-menu-arrow-down.png) right 0 no-repeat;
    background-position: right 0px top 10px;
	padding-right: 14px;
	border-right: 4px solid transparent;
}
/* FIM MENU PRINCIPAL */


.breadcrumbs{
	border-bottom: medium none;
	color: #B2B2B2;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	text-transform: uppercase;
}

.breadcrumbSeparator {
	color: #666666;
}

.breadcrumbs label {
	color: #B2B2B2;
	padding: 0 0.5em;
	text-decoration: none;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 85%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
}

.breadcrumbs a {
	color: #B2B2B2;
	padding: 0 0.5em;
	text-decoration: none;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 85%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
}

.breadcrumbs-current {
	color: #4C91B2;
	padding-left: 0.5em;
	
	padding: 0 0.5em;
	text-decoration: none;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 85%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
}

.textHeading {
	border-bottom: 1px solid #4C91B2;
	color: #4C91B2;
	font-size: 175%;
	letter-spacing: 2px;
	margin: 10px 3px 10px 3px;
	text-transform: uppercase;
	
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	
	font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 175%;
	
	border-bottom: 1px solid #8cacbb;
	font-weight: normal;
	
	margin-bottom: 20px;
}

/*
    .menu-principal ul {
        list-style: none;
        float: right;
        margin-right: 10px;        
    }
    
        .menu-principal ul li {
            border: 1px solid #b7b7b7;
            float: left;
            margin-right: 4px;            
            background: #fff url(../img/bg-menu.png) 0 bottom repeat-x;
            border-radius: 10px;
            width: 170px;
            height: 42px;
            overflow: hidden;
        }
        
            .menu-principal ul li a {
                font-weight: bold;
                color: #505050;
                font-size: 14px;
                padding: 12px 55px 12px 18px;
                display: block;                
                text-decoration: none;
                background: url(../img/ico-menu-dropdown.png) right 14px no-repeat;
                outline: none;
            }
            
            .menu-principal ul li a:hover {
                color: #1c5ba7;
            }
            
        .menu-principal ul li ul {
            margin: 0;
            float: none;
            padding: 0 10px 18px 10px;
            display: none;
        }
        
            .menu-principal ul li ul li {
                float: none;
                border: none;
                margin: 0;
                background: none;
                border-radius: 0;
                border-bottom: 1px dotted #b7b7b7;
                width: auto;
                height: auto;
            }
            
                .menu-principal ul li ul li a {
                    font-weight: normal;
                    font-size: 12px;
                    padding: 5px 8px;
                    background: none;
                }
                
                .menu-principal ul li ul li.third-menu a {
                    background: url(../img/ico-plus.png) right center no-repeat;
                }
                
                .menu-principal ul li ul li.third-menu a.sub-menu-aberto {
                    background: url(../img/ico-minus.png) right center no-repeat;
                }
                
                .menu-principal ul li ul li a:hover {
                    color: #1c5ba7;
                }
        
        .menu-principal ul ul ul {
            padding: 0 5px 0 10px;
            display: none;
        }
                
            .menu-principal ul ul ul li {
            }
            
                .menu-principal ul ul ul li a {
                    color: #888;
                    background: none !important;
                }
                
            .menu-principal ul ul ul li:last-child {
                border: none;
            }
*/
/* FIM MENU PRINCIPAL */

/* INICIO TELA INICIAL */
.welcome-col {
	padding-bottom: 15px;
}

.welcome-col p {
	
}

.padding-10 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-30 {
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.padding-default-line {
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.padding-default {
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.formularios .ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 0px 5px;
}

/* FIM TELA INICIAL */

/* INICIO CORPO */
.corpo {
	/* padding: 10px 10px 10px 10px; */
	/* background-color: #fff; */
	/* border: 1px solid #b5b5b5; */
	/* border-top: none; */
	/* border-radius: 0px 0px 5px 5px; */
	/* position: relative; */
	/* z-index: 80; */
	/* min-height: 100%; */
	/* margin-bottom: 3px; */
	/* background: url(../resources/img/bg-login.png) 0 bottom repeat-x; */
	
}

.corpo-conteiner {
	/* border: 1px solid #b5b5b5; */
	/* padding: 10px !important; */
	/* padding-bottom: 0; */
	/* border-radius: 10px; */
	/* overflow: auto; */
	padding: 0 10px;
	margin-bottom: 10px;
	min-height: 90%;
}

.corpo-conteiner-fullscreen {
	/* border: 1px solid #b5b5b5; */
	/* padding: 10px !important; */
	/* padding-bottom: 0; */
	/* border-radius: 10px; */
	/* overflow: auto; */
	padding: 0 10px;
	margin-bottom: 10px;
	min-height: 90%;
}

.titulo-pagina {
	color: #1c5ba7;
	border: 1px solid #b5b5b5;
	background-color: #f2f2f2;
	margin-bottom: 13px;
}

.titulo-pagina h2 {
	color: #1c5ba7;
	font-size: 15px;
	padding: 8px 10px;
}

.text-blue{
	color: #4C91B2;
}

.text-red{
	color: #b24c4d;
}

.formularios {
	margin: 15px;
}


.formularios .campo-dados {
	border: 1px solid #c6c6c6;
	padding: 15px 15px 15px 15px;
	padding-right: 15px;
	overflow: auto;
	margin-bottom: 10px;
}

.formularios .campo-dados legend{
	background: none;
	border:rgba(157, 157, 157, 0);
	padding: 15px 15px 15px 15px;
	padding-right: 15px;
	overflow: auto;
	margin-bottom: 10px;
}

.col-50 {
	width: 50%;
	float: left;
}

.col-70 {
	width: 70%;
	float: left;
}

.col-30 {
	width: 30%;
	float: left;
}


.col-20 {
	width: 20%;
	float: left;
}

.col-15 {
	width: 15%;
	float: left;
}

.col-10 {
	width: 10%;
	float: left;
}

/*
.ui-datatable-tablewrapper.ui-state-default {
  display: none
}
*/
.invisibleHead thead {
    display:none;
}

.formularios .fieldset-columns {
	/* min-height: 280px; */
	padding: 20px;
	/*min-width: 650px;*/
	
	/* CENTRALIZA */
	/*float: left;
    margin-right: -100%;
    width: 97%;*/
}
.formularios .fieldset-columns legend {
	font-size: 17px;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
}

.formularios .fieldset-fullscreen {
	min-height: 700px;
}

.formularios fieldset, .box-border {
	border: 1px solid #c6c6c6;
	overflow: auto;
	margin-bottom: 8px;
	padding: 15px 15px 15px 15px;
	/* min-height: 300px; */
}

.textarea {
	min-height: 100px;
	max-width: 950px;
}

.formularios fieldset, p {
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 1.8em;
	/* min-height: 300px; */
}

.formularios legend {
	font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0 5px;
	color: #505050;
}


.formularios label {
	display: block;
	font-size: 89%;
	font-weight: bold;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 79%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	
}

.formularios .input-box, .formularios .textarea-box, .formularios .checkbox-group., .formularios select-box 
	{
	float: left;
	min-height: 35px;
	width: 100%;
	margin-right: 45px;
	position: relative;
	margin-bottom: 15px;
}

.formularios .radios-group{
	float: left;
	min-height: 35px;
	position: relative;
	margin-bottom: 15px;
	margin-right:15px;
}
.formularios .textarea-box ,.formularios .radios-group h3,.formularios .data-box ,.formularios .checkbox-box h3
	{
	font-size: 12px;
	color: #505050;
	margin-bottom: 3px;
	display: block;
	font-weight: normal;
	min-width:;
}

.formularios .textarea-box {
	font-size: 12px;
	color: #505050;
	margin-bottom: 3px;
	display: block;
	font-weight: normal;
	min-width:257px;
}

.formularios .input-box {
	font-size: 12px;
	color: #505050;
	margin-bottom: 3px;
	display: block;
	font-weight: normal;
	min-width:257px;
}


.formularios .input-box .conteiner {
	/* border-bottom : 1px solid #c5c5c5; */
	padding: 0 0px;
	margin-right: 5px;
	background: url(../resources/img/input-bg.png) 0 0 repeat-x;
}

.formularios .input-box input {
	font-size: 12px;
	color: #343434;
	/* border: 0; */
	width: 100%;
	/* padding: 8px 8px; */
	-webkit-box-shadow: inset 0 2px 3px #8F8F8F;
	-webkit-border-radius: 3px;
	}

.formularios .textarea-box .conteiner {
	margin-right: 15px;
	border: 1px solid #c5c5c5;
	padding: 8px 6px;
	background: url(../resources/img/input-bg.png) 0 0 repeat-x;
}

.formularios .textarea-box textarea {
	font-size: 12px;
	color: #343434;
	width: 100%;
	/* border: 0; */
	overflow: auto;
	height: 100px;
	background: none;
}

.formularios .radios-group .conteiner,.formularios .checkbox-group .conteiner
	{
	border: 1px solid #c5c5c5;
	padding: 8px 6px;
	margin-right: 15px;
	overflow: auto;
	background: none;
}

.formularios .radios-group .radio-box,.formularios .checkbox-group .checkbox-box
	{
	overflow: auto;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

.ui-fieldset-legend{
	
	background: none;
	border:rgba(157, 157, 157, 0);
}

.ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-highlight {
    background: none repeat scroll 0% 0% #dcdcdc;
    border: 1px solid #7a7a7a;
    color: #222222;
}

.ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-highlight {
	background: none repeat scroll 0% 0% #a1c9ff;
    border: 1px solid #7a7a7a;
    color: #222222;
}

.ui-chkbox-box.ui-widget.ui-state-active{
	border: 1px solid #AAA;
    background: #d5d5d5;
    font-weight: normal;
    color: #FFF;
}

.ui-chkbox-icon.ui-c.ui-icon.ui-icon-check {
    /*background-image: url("/sapv2/javax.faces.resource/images/ui-icons_333333_256x240.png.faces?ln=primefaces-bootstrap");*/
	background-image: url(../resources/img/ui-icons_333333_256x240.png.faces.png);
}

.ui-radiobutton-box.ui-widget.ui-state-active{
	border: 1px solid #AAA;
    background: #f6f6f6;
    font-weight: normal;
    color: #FFF;
}

.formularios .radio-box ,.formularios .-box  {
	font-size: 12px;
	color: #343434;
	float: left;
	cursor: pointer;
	margin-right: 16px;
}

.formularios .radio-box input,.formularios .checkbox-box input {
	float: left;
	margin-top: 1px;
	margin-right: 5px;
}

.formularios .select-box {
/* 	float: left;
	min-height: 32px;
	width: 100%;
	position: relative;
	margin-bottom: 15px; */
	
	font-size: 12px;
	color: #343434;	
	width: 100%;
	padding: 8px 8px;
	-webkit-box-shadow: inset 0 2px 3px #8F8F8F;
	-webkit-border-radius: 3px;
}

.formularios .select{
	box-shadow: 0px 0px 0px #FFF inset;
}

.formularios .select-box 
	{
	font-size: 12px;
	color: #505050;
	margin-bottom: 2px;
	display: block;
	font-weight: normal;
	min-width: 290px;
	width:100%; 
	background-color:#FFF ;
}

.formularios .select-box .conteiner {
	width: auto;
	min-width: 270px !important;
	margin-right: 15px;	
	overflow: visible;
}

.formularios .select-box select {
	width: 100%;
	padding: 8px 6px 6px 6px;
	font-size: 12px;
	color: #343434;
	border: 1px solid #c5c5c5;
	background-color: none;
}

.formularios .select-box option {
	color: #343434;
}

.formularios .data-box {
	float: left;
	min-height: 35px;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}

.formularios .data-box .conteiner-data {
	border: 1px solid #c5c5c5;
	padding: 0 6px;
	margin-right: 10px;
	background: url(../resources/img/input-bg.png) 0 0 repeat-x;
	float: left;
}

.formularios .data-box input {
	font-size: 12px;
	color: #343434;
	border: 0;
	width: 100%;
	padding: 8px 0;
	background: none;
}

.formularios .data-box .ico-calendar {
	width: 22px;
	height: 23px;
	display: block;
	float: left;
	background: url(../resources/img/ico-calendar.png) 0 0 no-repeat;
	text-indent: -9000px;
	margin-top: 5px;
}

.formularios .centralize{
	text-align:center;
}

.formularios p, input, button, label{
	/*display:inline-block;*/
}

.formularios .titulo{
	color: #002D49;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 32px;
	padding: 10px 0 0 0;
}

.formularios .subtitulo{
	color: #808080;
	font-family: 'Lucida Grande', Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 12px;
	padding: 5px 0 15px 0;
}

.formularios .titulo-campo-filtro{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 1.0em;
}

.formularios .titulo-campo{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 1.2em;
}

.formularios .titulo-campo-fullscreen{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 2.5em;
	font-weight: bold;
	/*display: inline-block;*/
}

.formularios .valor-campo{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 1.2em;
	/*text-transform: uppercase;*/
	/*display: inline-block;*/
}

.ui-datalist-item{
	font-size: 1.2em;
}

.formularios .valor-campo-fullscreen{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 2.5em;
	text-transform: uppercase;
	/*display: inline-block;*/
}

.formularios .subvalor-campo-fullscreen{
	color: #404040;
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	/* font-family: Times New Roman,"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; */
	font-size: 1.5em;
	/*font-style: italic;*/
	text-transform: uppercase;
	/*display: inline-block;*/
}

.formularios .input-login-user{
	background: url(../resources/img/ico-user.png);
	background-position: 7px 7px;
    background-repeat: no-repeat;
	padding-left:50px;
}

/*
@font-face {
	font-family: FontAllerBd; 
	src: url('../resources/fonts/Aller_Bd.ttf'); 
}

@font-face {
	font-family: FontAllerBdIt; 
	src: url('../resources/fonts/Aller_BdIt.ttf'); 
}

@font-face {
	font-family: FontAllerIt; 
	src: url('../resources/fonts/Aller_It.ttf'); 
}

@font-face {
	font-family: FontAllerLt; 
	src: url('../resources/fonts/Aller_Lt.ttf'); 
}

@font-face {
	font-family: FontAllerLtIt; 
	src: url('../resources/fonts/Aller_LtIt.ttf'); 
}

@font-face {
	font-family: FontAllerRg; 
	src: url('../resources/fonts/Aller_Rg.ttf'); 
}

@font-face {
	font-family: FontAllerDisplay; 
	src: url('../resources/fonts/AllerDisplay.ttf'); 
}
*/

.formularios .input-login-pass{
	background: url(../resources/img/ico-pass.png);
	background-position: 7px 8px;
    background-repeat: no-repeat;
	padding-left:50px;
}

.formularios .bt-login{
	padding: 4px 20px 4px 20px;	
}

.tabela-dados {
	clear: both;
	margin: 0 15px 15px 0;
	
}

.tabela-dados-picklist {
    clear: both;
    margin: 0 15px 15px 0;
    border: 1px solid #c5c5c5;
}
.tabela-dados table, .tabela-dados-picklist table {
	border-collapse: collapse;
	border: 1px solid #c5c5c5;
	width: 100%;
}

.tabela-dados th {
	/* background-color: #195297; */
	color: #000000;
	font-size: 11px;
	text-transform: uppercase;
	padding: 11px 15px;
	border: 1px solid #c5c5c5; 
	/* border-bottom: 0; */
}

.tabela-dados-picklist th {
	background-color: #fff;
	color: #000000;
	font-size: 11px;
	text-transform: uppercase;
	padding: 11px 15px;
	border: 1px solid #c5c5c5;
	border-bottom: 0;
}

.tabela-dados td {
	border: 1px solid #c5c5c5; 
	border-bottom: 0;
	padding: 7px 9px;
}

.tabela-dados tbody tr.even td {
	background-color: #F0F0F6;
}

 .tabela-dados .linha-over td {
	background-color: #edf4fd;
} 

.tabela-dados th.cel-75,.tabela-dados td.cel-75 {
	width: 75%;
}
.tabela-dados th.cel-50,.tabela-dados td.cel-50 {
	width: 50%;
}

.tabela-dados th.cel-40,.tabela-dados td.cel-40 {
	width: 40%;
}
.tabela-dados th.cel-20,.tabela-dados td.cel-20 {
	width: 20%;
}

.tabela-dados th.cel-10,.tabela-dados td.cel-10 {
	width: 10%;
}

.tabela-dados th.cel-5,.tabela-dados td.cel-5 {
	width: 5%;
}

.tabela-dados td.ico-cell,.tabela-dados th.ico-cell {
	width: 50px;
	padding: 11px 10px;
}

.tabela-dados .ico-editar {
	display: block !important;
	text-indent: -9000px !important;
	overflow: hidden !important;
	width: 15px !important;
	height: 16px !important;
	background: url(../resources/img/ico-editar.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
}

.ico-receber {
	border: none !important;
	display: block !important;
	text-indent: -9000px !important;
	overflow: hidden !important;
	width: 37px !important;
	height: 36px !important;
	background: url(../resources/img/ico-receber.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
	cursor: pointer;
}

.ico-fullscreen {   
	background: url(../resources/img/ico-fullscreen.png) !important;
} 

.ico-editar-grande {
	border: none !important;
	display: block !important;
	text-indent: -9000px !important;
	overflow: hidden !important;
	width: 37px !important;
	height: 36px !important;
	background: url(../resources/img/ico-editar-grande.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
	cursor: pointer;
}


.tabela-dados .ico-delete {
	display: block;
	text-indent: -9000px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	background: url(../resources/img/ico-delete.png) 0 0 no-repeat;
	margin: 0 auto;
}

.ico-vizualizar {
	background: url(../resources/img/ico-plus.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
}

.ico-join-persist {
	background: url(../resources/img/ico-join-persist.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
}

.ico-join {
	background: url(../resources/img/ico-plus.png) 0 0 no-repeat !important;
	margin: 0 auto !important;
}

.text-center{
	text-align: center;
}

.dialog {
	height: 400px;
	width: 400px ;
}

.ui-dialog{
	overflow: visible !important;
	position: fixed !important;
	z-index: 1002 !important ;
}

.ui-datatable-tablewrapper{
	/* overflow-x: scroll; */ 
	overflow: visible;
	/*max-width: 550px;*/
}


.tabela-dados .pager {
	margin-top: 15px;
	border: 1px solid #c5c5c5;
	width: 300px;
	min-height: 10px;
	padding: 5px;
	overflow: auto;
}

.tabela-dados .pager input {
	cursor: default;
	border: 0;
	text-align: center;
	font-size: 12px;
}

.tabela-dados .pager select {
	font-size: 12px;
	padding: 3px;
	border: 1px solid #c5c5c5;
}

.tabela-dados .pager option {
	padding-right: 10px;
}
.tabela-dados-picklist td {
	border-bottom: 0;
	padding: 7px 9px;
}

.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top{
	background: #002D49 ;
}

.ui-scrollpanel.ui-scrollpanel-native.ui-widget.ui-widget-content.ui-corner-all{
	border-radius: 0px;
	border: 0px;
} 

.ui-selectoneradio.ui-widget label{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.semBorda tr, .semBorda td {  
    border: none !important;  
} 

.ui-state-active{
	background: #E2E2E2;
}

.ui-selectonelistbox.ui-inputfield.ui-widget.ui-widget-content.ui-corner-all{
	width: 300px;
}

.ui-datalist-content.ui-widget-content{
	/*border-color: #fff;*/
	color: #404040;
	padding: 15px;
}

.ui-datalist-item{
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
}

.default-font{
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 12px;	
}

.default-font-medium{
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 1.3em;	
}

.default-font-big{
	font-family: FontAllerRg, 'Open Sans',sans-serif, Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 1.8em;	
}

.ui-selectonemenu-filter-container {
	width:100%;
	position: relative;
	margin: 0;
	padding: 0.4em;
	display: inline-block;
}

.ui-picklist .ui-button{
	margin: 20px;	
}

.dropdown{
	background-image: url(../resources/img/ico-menu-dropdown.png) 0 0 no-repeat;
}

.btn-file-detached{
	border: 2px solid #4C91B2;
	background-color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	margin: 5px 0;
	padding: 10px 15px;
	display: inline-block;
	letter-spacing: 1px;
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	color: #545454;
	text-decoration: none;
}

.btn-file-detached:hover{
	border: 2px solid #4C91B2;
	background-color: #4C91B2;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	margin: 5px 0;
	padding: 10px 15px;
	display: inline-block;
	letter-spacing: 1px;
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	color: #FFF;
	text-decoration: none;
}

/* FIM CORPO */

/* INICIO TAMANHOS INPUTS  */
.formularios .box-100 {
	width: 100%;
}

.formularios .box-98 {
	width: 98%;
}

.formularios .box-96 {
	width: 96%;
}

.formularios .box-95 {
	width: 95%;
}

.formularios .box-94 {
	width: 94%;
}

.formularios .box-92 {
	width: 92%;
}

.formularios .box-90 {
	width: 90%;
}

.formularios .box-88 {
	width: 88%;
}

.formularios .box-86 {
	width: 86%;
}

.formularios .box-85 {
	width: 85%;
}

.formularios .box-84 {
	width: 84%;
}

.formularios .box-82 {
	width: 82%;
}

.formularios .box-80 {
	width: 80%;
}

.formularios .box-78 {
	width: 78%;
}

.formularios .box-76 {
	width: 76%;
}

.formularios .box-75 {
	width: 75%;
}

.formularios .box-74 {
	width: 74%;
}

.formularios .box-72 {
	width: 72%;
}

.formularios .box-70 {
	width: 70%;
}

.formularios .box-68 {
	width: 68%;
}

.formularios .box-66 {
	width: 66%;
}

.formularios .box-65 {
	width: 65%;
}

.formularios .box-64 {
	width: 64%;
}

.formularios .box-62 {
	width: 62%;
}

.formularios .box-60 {
	width: 60%;
}

.formularios .box-58 {
	width: 58%;
}

.formularios .box-56 {
	width: 56%;
}

.formularios .box-55 {
	width: 55%;
}

.formularios .box-54 {
	width: 54%;
}

.formularios .box-52 {
	width: 52%;
}

.formularios .box-50 {
	width: 50%;
}

.formularios .box-48 {
	width: 48%;
}

.formularios .box-46 {
	width: 46%;
}

.formularios .box-45 {
	width: 45%;
}

.formularios .box-44 {
	width: 44%;
}

.formularios .box-42 {
	width: 42%;
}

.formularios .box-40 {
	width: 40%;
}

.formularios .box-38 {
	width: 38%;
}

.formularios .box-37 {
	width: 37%;
}

.formularios .box-36 {
	width: 36%;
}

.formularios .box-35 {
	width: 35%;
}

.formularios .box-34 {
	width: 34%;
}

.formularios .box-32 {
	width: 32%;
}

.formularios .box-30 {
	width: 30%;
}

.formularios .box-28 {
	width: 28%;
}

.formularios .box-26 {
	width: 26%;
}

.formularios .box-25 {
	width: 25%;
}

.formularios .box-24 {
	width: 24%;
}

.formularios .box-22 {
	width: 22%;
}

.formularios .box-20 {
	width: 20%;
}

.formularios .box-18 {
	width: 18%;
}

.formularios .box-16 {
	width: 16%;
}

.formularios .box-15 {
	width: 15%;
}

.formularios .box-14 {
	width: 14%;
}

.formularios .box-12 {
	width: 12%;
}

.formularios .box-10 {
	width: 10%;
}

.formularios .box-8 {
	width: 8%;
}

.formularios .box-6 {
	width: 6%;
}

.formularios .box-5 {
	width: 5%;
}

/* FIM TAMANHOS INPUTS  */

/* INICIO BOTOES */
.bt-padrao {
	border: 1px solid #113664;
	font-size: 14px;
	color: #fff !important;
	padding: 6px 15px 6px 15px;
	background: #002D49 !important;
	background-color: #002D49 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	/*margin-bottom: 15px;*/
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

.bt-padrao-fullscreen {
	border: 1px solid #113664;
	font-size: 14px;
	color: #fff !important;
	padding: 15px 30px 15px 30px;
	background: #002D49 !important;
	background-color: #002D49 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .2em 1.3em;
	/*margin-bottom: 15px;*/
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

.bt-padrao:hover {
	background: #10396c;
}

.bt-padrao-fullscreen:hover {
	background: #10396c;
} 

form .bt-lightblue {
	border: 1px solid #359fdb;
	font-size: 14px;
	color: #EEEEEE !important;
	padding: 6px 15px 6px 15px;
	background: #359fdb !important;
	background-color: #359fdb !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

form .bt-red {
	border: 1px solid #db354c;
	font-size: 14px;
	color: #EEEEEE !important;
	padding: 6px 15px 6px 15px;
	background: #db354c !important;
	background-color: #db354c !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

form .bt-yellow {
	border: 1px solid #dbc435;
	font-size: 14px;
	color: #222222 !important;
	padding: 6px 15px 6px 15px;
	background: #dbc435 !important;
	background-color: #dbc435 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

form .bt-green {
	border: 1px solid #9fdb35;
	font-size: 14px;
	color: #222222 !important;
	padding: 6px 15px 6px 15px;
	background: #9fdb35 !important;
	background-color: #9fdb35 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

.bt-jsf {
	padding: 6px 26px !important;
    font-size: 12px !important;
}

/*  Regra para o IE */
form .bt-padrao {
	border: 1px solid #113664;
	font-size: 14px;
	color: #fff !important;
	padding: 6px 15px 6px 15px;
	background: #002D49 !important;
	background-color: #002D49 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .1em 1em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
}

form .bt-padrao:hover {
	background: #10396c;
} 

form .bt-padrao-fullscreen {
	border: 1px solid #113664;
	font-size: 14px;
	color: #fff !important;
	padding: 15px 30px 15px 30px;
	background: #002D49 !important;
	background-color: #002D49 !important;
	border-radius: 4px;
	cursor: pointer;
	padding: .2em 1.3em;
	margin-bottom: 0;
	filter:;
	text-shadow:none;
}

form .bt-padrao-fullscreen:hover {
	background: #10396c;
} 

.bt-voltar {
	border: 1px solid #113664;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 7px 15px 6px 15px;
	background: #195297;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
	padding: .1em 1em;
	/*    width: 50px; */
	text-align: center;
	text-shadow:none;
	filter:;
}

.bt-voltar:hover {
	background-color: #10396c;
}
/* FIM BOTOES */

/* Configuracoes do Estilo do Rodape da Tabela */
.ui-datatable tfoot td {
    padding: 7px 12px;
    margin:0px;
    overflow: hidden;
    font-size: 15px;
	font-weight: bold;
}

/* CLASSE DOS ICONES */
/*ICONS*/
[class^="icon-"],[class*=" icon-"] {
	display: inline-block !important;
	width: 14px !important;
	height: 14px !important;
	line-height: 14px !important;
	vertical-align: text-top !important;
	background-image: url("../resources/img/glyphicons-halflings.png") !important;
	background-position: 14px 14px !important;
	background-repeat: no-repeat !important;
	*margin-right: .3em !important;
}

[class^="icon-"]:last-child,[class*=" icon-"]:last-child {
	*margin-left: 0 !important;
}
/*  ##################   ICONS BRANCOS ###################   */
.icon-white {
	background-image: url("../resources/img/glyphicons-halflings-white.png") !important;
	/* ARQUIVOS DE ICONS BRANCOS  */
}

/* ###  LINHA 01 ### */
.icon-glass {
	background-position: 0 0;
}

.icon-music {
	background-position: -24px 0;
}

.icon-search {
	background-position: -48px 0;
}

.icon-envelope {
	background-position: -72px 0;
}

.icon-heart {
	background-position: -96px 0;
}

.icon-star {
	background-position: -120px 0;
}

.icon-star-empty {
	background-position: -144px 0;
}

.icon-user {
	background-position: -168px 0;
}

.icon-film {
	background-position: -192px 0;
}

.icon-th-large {
	background-position: -216px 0;
}

.icon-th {
	background-position: -240px 0;
}

.icon-th-list {
	background-position: -264px 0;
}

.icon-ok {
	background-position: -288px 0;
}

.icon-remove {
	background-position: -312px 0;
}

.icon-zoom-in {
	background-position: -336px 0;
}

.icon-zoom-out {
	background-position: -360px 0;
}

.icon-off {
	background-position: -384px 0;
}

.icon-signal {
	background-position: -408px 0;
}

.icon-cog {
	background-position: -432px 0;
}

.icon-trash {
	background-position: -456px 0;
}

/* ###  LINHA 02 ### */
.icon-home {
	background-position: 0 -24px;
}

.icon-file {
	background-position: -24px -24px;
}

.file-icon {
	background-position: -24px -24px;
}

.icon-time {
	background-position: -48px -24px;
}

.icon-road {
	background-position: -72px -24px;
}

.icon-download-alt {
	background-position: -96px -24px;
}

.icon-download {
	background-position: -120px -24px;
}

.icon-upload {
	background-position: -144px -24px;
}

.icon-inbox {
	background-position: -168px -24px;
}

.icon-play-circle {
	background-position: -192px -24px;
}

.icon-repeat {
	background-position: -216px -24px;
}

.icon-refresh {
	background-position: -240px -24px;
}

.icon-list-alt {
	background-position: -264px -24px;
}

.icon-lock {
	background-position: -287px -24px;
}

.icon-flag {
	background-position: -312px -24px;
}

.icon-headphones {
	background-position: -336px -24px;
}

.icon-volume-off {
	background-position: -360px -24px;
}

.icon-volume-down {
	background-position: -384px -24px;
}

.icon-volume-up {
	background-position: -408px -24px;
}

.icon-qrcode {
	background-position: -432px -24px;
}

.icon-barcode {
	background-position: -456px -24px;
}

/* ###  LINHA 03 ### */
.icon-tag {
	background-position: 0 -48px;
}

.icon-tags {
	background-position: -25px -48px;
}

.icon-book {
	background-position: -48px -48px;
}

.icon-bookmark {
	background-position: -72px -48px;
}

.icon-print {
	background-position: -96px -48px;
}

.icon-camera {
	background-position: -120px -48px;
}

.icon-font {
	background-position: -144px -48px;
}

.icon-bold {
	background-position: -167px -48px;
}

.icon-italic {
	background-position: -192px -48px;
}

.icon-text-height {
	background-position: -216px -48px;
}

.icon-text-width {
	background-position: -240px -48px;
}

.icon-align-left {
	background-position: -264px -48px;
}

.icon-align-center {
	background-position: -288px -48px;
}

.icon-align-right {
	background-position: -312px -48px;
}

.icon-align-justify {
	background-position: -336px -48px;
}

.icon-list {
	background-position: -360px -48px;
}

.icon-indent-left {
	background-position: -384px -48px;
}

.icon-indent-right {
	background-position: -408px -48px;
}

.icon-facetime-video {
	background-position: -432px -48px;
}

.icon-picture {
	background-position: -456px -48px;
}

/* ###  LINHA 04 ### */
.icon-pencil {
	background-position: 0 -72px;
}

.icon-map-marker {
	background-position: -24px -72px;
}

.icon-adjust {
	background-position: -48px -72px;
}

.icon-tint {
	background-position: -72px -72px;
}

.icon-edit {
	background-position: -96px -72px;
}

.icon-share {
	background-position: -120px -72px;
}

.icon-check {
	background-position: -144px -72px;
}

.icon-move {
	background-position: -168px -72px;
}

.icon-step-backward {
	background-position: -192px -72px;
}

.icon-fast-backward {
	background-position: -216px -72px;
}

.icon-backward {
	background-position: -240px -72px;
}

.icon-play {
	background-position: -264px -72px;
}

.icon-pause {
	background-position: -288px -72px;
}

.icon-stop {
	background-position: -312px -72px;
}

.icon-forward {
	background-position: -336px -72px;
}

.icon-fast-forward {
	background-position: -360px -72px;
}

.icon-step-forward {
	background-position: -384px -72px;
}

.icon-eject {
	background-position: -408px -72px;
}

.icon-chevron-left {
	background-position: -432px -72px;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

/* ###  LINHA 05 ### */
.icon-plus-sign {
	background-position: 0 -96px;
}

.icon-minus-sign {
	background-position: -24px -96px;
}

.icon-remove-sign {
	background-position: -48px -96px;
}

.icon-ok-sign {
	background-position: -72px -96px;
}

.icon-question-sign {
	background-position: -96px -96px;
}

.icon-info-sign {
	background-position: -120px -96px !important;
}

.icon-screenshot {
	background-position: -144px -96px;
}
 
.icon-remove-circle {
	background-position: -168px -96px;
}

.icon-ok-circle {
	background-position: -192px -96px;
}

.icon-ban-circle {
	background-position: -216px -96px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-arrow-up {
	background-position: -289px -96px;
}

.icon-arrow-down {
	background-position: -312px -96px;
}

.icon-share-alt {
	background-position: -336px -96px;
}

.icon-resize-full {
	background-position: -360px -96px;
}

.icon-resize-small {
	background-position: -384px -96px;
}

.icon-plus {
	background-position: -408px -96px;
}

.icon-minus {
	background-position: -433px -96px;
}

.icon-asterisk {
	background-position: -456px -96px;
}

/* ###  LINHA 07 ### */
.icon-exclamation-sign {
	background-position: 0 -120px;
}

.icon-gift {
	background-position: -24px -120px;
}

.icon-leaf {
	background-position: -48px -120px;
}

.icon-fire {
	background-position: -72px -120px;
}

.icon-eye-open {
	background-position: -96px -120px;
}

.icon-eye-close {
	background-position: -120px -120px;
}

.icon-warning-sign {
	background-position: -144px -120px;
}

.icon-plane {
	background-position: -168px -120px;
}

.icon-calendar {
	background-position: -192px -120px;
}

.icon-random {
	background-position: -216px -120px;
}

.icon-comment {
	background-position: -240px -120px;
}

.icon-magnet {
	background-position: -264px -120px;
}

.icon-chevron-up {
	background-position: -288px -120px;
}

.icon-chevron-down {
	background-position: -313px -119px;
}

.icon-retweet {
	background-position: -336px -120px;
}

.icon-shopping-cart {
	background-position: -360px -120px;
}

.icon-folder-close {
	background-position: -384px -120px;
}

.icon-folder-open {
	background-position: -408px -120px;
}

.icon-resize-vertical {
	background-position: -432px -119px;
}

.icon-resize-horizontal {
	background-position: -456px -118px;
}

/* CLASSE DOS ICONES */


/*INÃ�CIO COR CELULA*/
/* .cellRed,.cellRed * {
	background-color: #DE5757 !important;
	color: white !important;
	font-weight: bold !important;
	padding: 40% !important;
}

.cellGreen,.cellGreen * {
	background-color: #11B009 !important;
	color: white !important;
	font-weight: bold !important;
	padding: 40% !important;
}

.cellBlue,.cellBlue * {
	background-color: #4C7ACF !important;
	color: white !important;
	font-weight: bold !important;
	padding: 40% !important;
}

.cellOrange,.cellOrange * {
	background-color: #F0D541 !important;
	color: black !important;
	font-weight: bold !important;
	padding: 40% !important;
} */

.cellRed{
	background-color: #DE5757 !important;
	color: white !important;
	font-weight: bold !important;
	padding-top: 9px !important;
	padding-bottom: 10px !important;
}

.cellGreen{
	background-color: #11B009 !important;
	color: white !important;
	font-weight: bold !important;
	padding-top: 9px !important;
	padding-bottom: 10px !important;
}

.cellBlue{
	background-color: #4C7ACF !important;
	color: white !important;
	font-weight: bold !important;
	padding-top: 9px !important;
	padding-bottom: 10px !important;
}

.cellOrange{
	background-color: #F0D541 !important;
	color: black !important;
	font-weight: bold !important;
	padding-top: 9px !important;
	padding-bottom: 10px !important;
}
/*FIM COR CELULA*/






/*pricing table*/
.price-head {
    padding:10px 0 50px;
}
.price-head h1 {
    font-size:32px;
    font-weight:normal;
    color:#002D49;
}
.pricing-table {
    background:#F1F2F7;
    text-align:center;
    padding:0 0 25px 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.pricing-table.most-popular {
    position:relative;
}
.most-popular {
    background:#f1f2f7;
    color:#7d7d7d;
}
.most-popular .pricing-head {
    background:#002D49;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    position:relative;
    height:170px;
}
.most-popular .pricing-quote,.most-popular ul li i {
    color:#002D49;
}
.most-popular ul li {
}
.most-popular .price-actions .btn {
    background:#002D49 !important;
    cursor:pointer;
}
.pricing-table .price-actions .btn {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#7d7d7d;
    color:#fff;
    border:none;
    box-shadow:none;
    text-shadow:none;
    padding:10px 20px;
    cursor:pointer;
}
.pricing-head {
    background:#7d7d7d;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    position:relative;
    height:170px;
}
.pricing-head h1 {
    font-size:24px;
    font-weight:300;
    padding-top:30px;
    color:#fff;
    text-transform:uppercase;
}
.pricing-quote {
    background:#fff;
    padding:10px 10px;
    color:#7d7d7d;
    font-size:45px;
    font-weight:100;
    width:150px;
    height:150px;
    border-radius:50%;
    -webkit-border-radius:50%;
    margin:-85px auto;
    z-index:100;
    position:relative;
}
.pricing-quote:after {
    width:170px;
    height:170px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid rgba(255,255,255,0.5);
    margin:-85px auto;
    z-index:100;
    position:absolute;
    content:"";
    left:-10px;
    top:75px;
}
.pricing-table ul {
    margin:120px 0 50px;
    padding:0;
}
.pricing-table ul li {
    margin:0 2em;
    padding:1em 0;
    text-align:left;
    font-weight:300;
}
.pricing-table ul li i {
    margin-right:10px;
}
.pricing-quote span.note {
    display:inline;
    font-size:18px;
    line-height:0.8em;
    position:relative;
    top:-18px;
}
.pricing-quote p {
    font-size:16px;
    color:#767676;
}
.pricing-quotation,.team-info {
    background:#EEEEEE;
    padding:20px 20px 35px 20px;
    margin-bottom:100px;
    display:inline-block;
    width:100%;
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.pricing-quotation h3,.team-info h3 {
    font-weight:300;
}
.pricing-quotation p,.team-info p {
    margin-bottom:0px;
}
.pricing-plan,.team-info-wrap {
    position:relative;
}
.pricing-quotation:before,.team-info:before {
    background-color:#EEEEEE;
    border-color:#EEEEEE;
    border-image:none;
    border-right:1px solid #EEEEEE;
    border-style:none;
    top:-7px;
    content:"";
    display:block;
    height:14px;
    left:48%;
    position:absolute;
    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    width: 15px;
}


.btn {
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 10px;
    margin-right: 5px;
	text-decoration: none;
}

.noline {
	text-decoration: none;
}

.btn {
    width:150px;
}


/* WIDGETS */
.scrollable {
  position: relative;
  overflow: hidden;
  height: 0;
}
.slimScrollDiv .slimScrollBar {
  cursor: pointer;
}
.ui-datascroller-header.ui-widget-header.ui-corner-top{
	padding: 0px 0px;
}